body {
    background-color:#EDE3F9;
    font-family: worksans;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #3a2e3d;
    background-image: url('/assets/images/banner.jpg');
    background-repeat: no-repeat;
    background-size: 100%;

}

@font-face {
    font-family: worksans;
    src: url('/assets/fonts/WorkSans-VariableFont_wght.ttf');
}

.title {
    
    display: flex;
    border-radius: 2rem;

}

img {
    
    margin-right: 2rem;
}

.container {
   display: flex;
   flex-direction: column;
align-items: center;
justify-content: center;
height:100%;
border-radius: 2rem;
padding: 3rem;
margin-top: 5rem;
margin-bottom: 5rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.3rem;
}


.accordion-question {
    cursor: pointer;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.accordion-question:hover {
    background-color: #EDE3F9;
}

.accordion-question button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
}



.accordion-answer {
    padding:0 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;

}

.accordion.active .accordion-answer {
    max-height: 200px;
    
}

.content {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    background-color: white;
    width: 40%;
    height: 70%;
    border-radius: 2rem;


}

